/* Dialog.module.css */

.dialog {
    border: none;
    border-radius: 8px;
    padding: 1em;
    position: relative;
    background-color: var(--midi-app-bg);
    border: var(--midi-app-border);
    color: var(--midi-app-fg);
}

.dialog * {
    background-color: var(--midi-app-bg);
    color: var(--midi-app-fg);
}

.dialog button {
    margin: 0;
    position: absolute;
    top: 1pt;
    right: 1pt;
    background: none;
    font-size: larger;
    font-weight: bolder;
    min-width: 1em;
    min-height: 1em;
    cursor: pointer;
    color: var(--midi-app-fg);
    opacity: 1;
    border: none;
}