.fieldset {
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
}

.legend {
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
    font-weight: normal;
    padding: 0.25em 1em;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5em;
    line-height: 200%;
    margin-bottom: 0.75em;
}

.row label {
    font-weight: bold;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.row input {
    margin-right: 1em;
}