.fieldset {
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
}

.legend {
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
    font-weight: normal;
    padding: 0.3em 0.6em;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.settings {
    margin-left: auto;
}

.settings button {
    font-size: 50%;
    font-weight: 100;
    text-transform: uppercase;
    font-variant: small-caps;
    opacity: 50%;
}

.settings button:hover {
    opacity: 100%;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5em;
    line-height: 200%;
    margin-bottom: 0.75em;
}

.row:last-child {
    margin-bottom: 0;
}

.row label {
    font-weight: bold;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

.row input {
    margin-right: 1em;
}