.canvas-component {
    margin: 0 auto;
    margin-top: var(--midi-app-padding);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.canvas {
    border: var(--midi-app-border);
    flex-grow: 1;
    height: auto;
    width: calc(88px * 8.9);
}