:root {
    --key-width: 15px;
    --key-white-height: 5rem;
    --key-black-height: 3rem;
}

.piano-keyboard {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: var(--midi-app-padding);
}

.piano-key {
    position: relative;
    flex: 1;
    cursor: pointer;
    display: inline-block;
    border: 1px solid grey;
    border-right: 0;
    background-color: #f6f6f6;
    width: var(--key-width);
    max-width: var(--key-width);
    min-width: var(--key-width);
    height: var(--key-white-height);
    z-index: 1;
}

.piano-key-highlighted {
    background-color: orange;
}

.piano-key-black {
    /* position: absolute; */
    z-index: 2;
    background-color: black;
    width: var(--key-width);
    height: var(--key-black-height);
    margin-left: calc(var(--key-width) / -2);
    margin-right: calc(var(--key-width) / -2);
}