/* Piano.module.css */

:root {
    font-size: 10pt;
    --key-width: 1rem;
    --key-white-height: 5rem;
    --key-black-height: 3rem;
}

aside {
    display: flex;
    background: black;
}

.piano-key {
    position: relative;
    flex: 1;
    display: inline-block;
    border: var(--midi-app-border);
    background: #f6f6f6;
    width: var(--key-width);
    height: var(--key-white-height);
    z-index: 1;
}

.piano-key-highlighted {
    background: orange;
}

.piano-key-black {
    z-index: 2;
    background-color: black;
    border-color: white;
    border-top-color: black;
    width: calc(var(--key-width) * 0.7);
    height: var(--key-black-height);
    margin-left: calc(var(--key-width) / -2);
    margin-right: calc(var(--key-width) / -2);
}