/* RangeInput.module.css */
:root {
    --midi-app-thumb-width: 2em;
    --midi-app-thumb-width-half: calc(var(--midi-app-thumb-width) / 2);
    --midi-app-range-height-input: 100%;
    --midi-app-range-size-normal: 4em;
    --midi-app-range-size-wide: 8em;
    --midi-app-range-size-narrow: 2em;
    --midi-app-range-size-narrowest: 6pt;
}

.custom-range-input {
    position: relative;
    min-height: 4em;
    max-height: 4em;
    min-width: 10em;
    /* Width must account for the massive thumb */
    width: calc(100% - var(--midi-app-thumb-width));
    margin: 0 var(--midi-app-thumb-width-half) !important;
    background-color: transparent;
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
}

.custom-range-input.vertical {
    min-height: calc(var(--midi-app-thumb-width) * 4);
    height: var(--midi-app-range-height-input, 100%);
    max-height: 100%;
    min-width: var(--midi-app-thumb-width);
    width: calc(100% - var(--midi-app-thumb-width));
}

.custom-range-input.flipped {
    flex-direction: row-reverse;
}

.custom-range-input.vertical.flipped {
    flex-direction: column-reverse;
}

.custom-range-input.flipped .handle {
    cursor: ew-resize;
}

.custom-range-input.vertical.narrow {
    width: var(--midi-app-range-size-narrow);
}

.custom-range-input.vertical.narrowest {
    width: var(--midi-app-range-size-narrowest);
    max-width: var(--midi-app-range-size-narrowest);
    min-width: var(--midi-app-range-size-narrowest);
}

.custom-range-input.vertical.normal {
    width: var(--midi-app-range-size-normal);
}

.custom-range-input.vertical.wide {
    width: var(--midi-app-range-size-wide);
}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--midi-app-brand-clr);
    background: var(--midi-app-range-bg-horizontal);
}

.vertical .bar {
    background: var(--midi-app-brand-clr);
    background: var(--midi-app-range-bg-vertical);
}

.custom-range-input.vertical .bar {
    left: 0;
    right: 0;
}

.handle {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: var(--midi-app-thumb-width);
    height: 100%;
    cursor: ew-resize;
    transition: left 0.1s ease, top 0.1s ease;
}

.custom-range-input.vertical .handle {
    left: 0;
    right: 0;
    top: 0;
    height: var(--midi-app-thumb-width);
    width: 100%;
    transform: translateY(-50%);
    cursor: ns-resize;
}