.custom-range-input {
    position: relative;
    min-height: 2em;
    max-height: 2em;
    min-width: 10em;
    width: 100%;
    background-color: #ddd;
}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: hsl(39, 100%, 50%);
}

.handle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10pt;
    height: 100%;
    background-color: hsl(39, 100%, 45%);
    border: 2pt solid hsla(39, 100%, 42%);
    cursor: ew-resize;
}