:root {
    --midi-app-thumb-width: 2em;
    --midi-app-thumb-width-half: calc(var(--midi-app-thumb-width) / 2);
    --midi-app-range-height-input: 100%;
}

.custom-range-input {
    position: relative;
    min-height: 4em;
    max-height: 4em;
    min-width: 10em;
    /* Width must account for the massive thumb */
    width: calc(100% - var(--midi-app-thumb-width));
    margin: 0 var(--midi-app-thumb-width-half) !important;
    background-color: transparent;
    border: var(--midi-app-border);
    border-radius: var(--midi-app-border-radius);
}

.custom-range-input.vertical {
    min-height: 10em;
    height: var(--midi-app-range-height-input, 100%);
    max-height: 100%;
    min-width: 4em;
    width: calc(100% - var(--midi-app-thumb-width));
    margin: var(--midi-app-thumb-width-half) 0 !important;
}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: hsl(39, 100%, 50%);
    background: repeating-linear-gradient(90deg,
            hsl(39, 100%, 50%),
            hsl(39, 100%, 50%) 10px,
            transparent 10px,
            transparent 20px);
}

.vertical .bar {
    background: repeating-linear-gradient(0deg,
            hsl(39, 100%, 50%),
            hsl(39, 100%, 50%) 10px,
            transparent 10px,
            transparent 20px);
}

.custom-range-input.vertical .bar {
    left: 0;
    right: 0;
}

.handle {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    width: var(--midi-app-thumb-width);
    height: 100%;
    cursor: ew-resize;
    transition: position 30ms;
    background-color: hsl(39, 100%, 42%);
    background-color: transparent;
}

.custom-range-input.vertical .handle {
    left: 0;
    right: 0;
    top: 0;
    height: var(--midi-app-thumb-width);
    width: 100%;
    transform: translateY(-50%);
    cursor: ns-resize;
}