:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --midi-app-fg: rgba(255, 255, 255, 0.87);
  --midi-app-bg: #242424;
  --midi-app-border: 1pt solid grey;
  --midi-app-padding: 1em;

  color-scheme: dark;
  color: var(--midi-app-fg);
  background-color: var(--midi-app-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: top;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  min-width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  padding: var(--midi-app-padding);
  height: 100vh;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin-top: 0;
}

.padded {
  margin: var(--midi-app-padding);
  padding: var(--midi-app-padding);
  border: var(--midi-app-border);
}